<a href="https://colab.research.google.com/github/andro095/Data-Mining-Project/blob/master/project/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto de Modelo de Predicción**


---


## **Autores:**


*   ### André Rodríguez 18332
*   ### Cesar Rodas 16776
*   ### Cristina Bautista 161260
*   ### Abril Palencia 18198


---



## **Acerca de:**

Works


---

## **Base de datos**

Para obtener la base de datos, hacer clic [aquí](https://bit.ly/2Rqw7NB)


---

## **Tabla de contenidos**



1.   [Sección 1: Extracción de Datos](#scrollTo=c6wPKt2Z0P3Z)
2.   [Sección 2: Depuración de Datos](#scrollTo=8AOfhxDO0KbT)

## **Código**

### Sección 1: Extracción de datos de Datos
Realizamos la importación de liberías para la lectura de la base de datos

In [1]:
import sqlite3 as sql
import pandas as pd

Leemos la base de datos y la trasladamos a un dataframe:

In [18]:
dfs = {}
con = sql.connect("/content/drive/MyDrive/UVG/4to Año/1er Semestre/Minería de Datos/16va semana/Data Mining Project/Code/basketball.sqlite")

['Player', 'Team', 'Team_Attributes', 'Team_History', 'Player_Attributes', 'Game_Officials', 'Game_Inactive_Players', 'Team_Salary', 'Player_Salary', 'Draft', 'Draft_Combine', 'Player_Photos', 'Player_Bios', 'Game', 'News', 'News_Missing']

In [ ]:
cur = con.cursor()
cur.execute('SELECT name FROM sqlite_master WHERE type = "table"')
tbnames = cur.fetchall()

In [ ]:
for elem in tbnames:
  dfs[elem[0]] = pd.read_sql_query("SELECT * from {}".format(elem[0]), con)

In [19]:
print(list(dfs.keys()))
print(dfs['Player'].head())

['Player', 'Team', 'Team_Attributes', 'Team_History', 'Player_Attributes', 'Game_Officials', 'Game_Inactive_Players', 'Team_Salary', 'Player_Salary', 'Draft', 'Draft_Combine', 'Player_Photos', 'Player_Bios', 'Game', 'News', 'News_Missing']
      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

### Sección 2: Depuración de Datos